.loginMainDiv{
    background-color: red;
}
.nav{
    background-color: whitesmoke;
}
.navUl{
    display: flex;
    list-style: none;
    color: purple;
    justify-content: space-between;
}
.cardItems{
    /* background-color: red; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
